#%RAML 1.0
---
title: Self-Assessment Accounts
version: 1.0

protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md

mediaType: application/json

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  errors: errors.raml
  headers: headers.raml

'/individuals/accounts/self-assessment':
  /{nino}:
    uriParameters:
      nino:
        description: National Insurance number, in the format AA999999A.
        type: string
        example: TC663795B
    /{taxYear}:
      uriParameters:
        taxYear:
          description: 'The tax year the data applies to, for example, 2019-20. The start year and end year must not span two tax years. No gaps are allowed, for example, 2019-21 is not valid.'
          example: "2017-18"
      /sampleEndpoint:
        (annotations.group):
          name: Sample Endpoint
          description: This is a sample endpoint
        post: !include sample_post.raml
    /{paymentId}:
      uriParameters:
        paymentId:
          description: 'A unique identifier for the payment.<br><br>Must conform to the regular expression: `^[0-9A-Za-z]{1,12}-[0-9A-Za-z]{1,6}$`'
          type: string
          example: "X234567891BY-AT3456"
      get: !include retrieveAllocations.raml